<!DOCTYPE html>
<html>
<head>
  <title>BlogFrontend</title>
  <%= stylesheet_link_tag    "blog/application", media: "all" %>
  <%= javascript_include_tag "blog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
